* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    display: flex; /* Ensure body is at least the viewport height */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(104, 104, 104);
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 20px auto;
    justify-content: space-between;
    align-content: baseline;
    gap: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    min-width: 70px;
    border: 2px solid black;
}

.input-output {
    display: flex;
    width: fit-content;
}

.input {
    min-height: 70px;
    font-size: 40px;
    width: 300px;
    pointer-events: none;
    /*direction: rtl;*/
    text-align: right;
}

.clear {
    flex: 1;
    min-height: 70px;
    border: 2px solid black;
}

.backspace {
    flex: 1;
    min-height: 70px;
    border: 2px solid black;
}

